
/* <div class="Prims">
      <h1> Prims's Visualizer </h1>
      <div id="copyright"> <b>Created by: </b> <br><br>Wesley Coleman<br> Niko Hildenbrand <br> Nelson Leonardo Gonzalez Dantas </div>
      <p>This tool will be helpful to visualize the Prims MST Algorithm. While a graph has been provided you can generate a new graph with the number of nodes desired, by writting an input and clicking generate graph.</p>
      <h3> Instructions </h3>
      <p> Nodes will be added if you click "Add new node". You can add and update edges by selecting a valid starting and ending node as well as a weight from 1-20 inclusive. Currently there is not way tp delete edges, if you prefer to create your own graph create a graph with 1 node and add from there. Currently the generate graph will generate up to 15 nodes.</p>
      <div>
      <h3> Generate graph </h3>
      <label for="generate_num">Number of Nodes: </label>
      <input type="text" id="generate_num" name="Generate Num"><br>
      <button onclick="generate()">Generate Graph</button>
      <h3> Adding Nodes </h3><h3>
      <script src="sketch.js"></script>
      <button onclick="add_new_node()">Add new node</button>
      </div>
      </h3><h3> New/Update Edge </h3>
      <label for="start_node">Starting Node: </label>
      <input type="text" id="start_node" name="Starting Node"><br>
      <label for="end_node">Ending Node: </label>
      <input type="text" id="end_node" name="End node"><br>
      <label for="weight">New Weight:</label>
      <input type="text" id="weight" name="Weight"><br>
        <br>
      <button onclick="add_new_edge()">Update/Create Edge</button>
      
        <br>
        <h3> Get MST </h3>
      <button onclick="get_MST()">Get MST</button>
        <button onclick="printMST()">Next</button>
        <br>
        <br>
        <script src="sketch.js"></script>
    </div> */
html, body {
  margin: auto;
  padding: 40px;
  
}
canvas {
  display: block;
  margin: auto;
}

h1{
  text-align: center;
}
#copyright{
  text-align: center;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.Prims {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  
}

h1, h3 {
  color: #333;
}

#copyright {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0;
  color: #555;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px 0;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

.graph-input{
  display: flex;
  flex-direction:column;
  gap:2rem;
  padding: 0 4em;
 pointer-events: all;
 max-width: 1200px;
}